.DS_Store
.tsbuildinfo
.vscode
node_modules
/build
/coverage
/lerna-debug.log
/gh-pages
packages/*/lib
packages/*/dist
/packages/*/*.js
!/packages/*/webpack.config.js
/packages/*/*.js.map
/packages/*/*.d.ts
/packages/*/src/*-css.ts
*package-lock.json
*-bundle.js
*tsconfig.tsbuildinfo
